<% include ../partials/header %>

<div class="container">
  <h2 style="text-align: center;">Log in to Yelp Camp</h2>
  <div style="width:30%; margin: 0 auto;">
    <form class="" action="/login" method="post">
    <div>
      <input style="margin: 1% 0;" class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div>
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button style="margin: 1% 0;" class="btn btn-lg btn btn-primary btn-block">Login</button>
    <a class="homelink" href="/">Home - </a>
    <a class="camplink" href="/campgrounds">All Turist Places</a>
  </form>

</div>
</div>

<% include ../partials/footer %>
